/* Body Styles */
body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Header Section */

.header-container{
    height: 100vh;
    background-image: url("./assets/pngwing\ 10.png");
    background-repeat: no-repeat;
    background-position:right;
    background-size: contain;
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
} 

.header-description{
    text-align: left;
    width: 70%
}
.header-description h1{
    color: black;
    font-size: 80px;
    font-weight: 800;
}
.header-description p{
    color: rgb(29, 28, 28);
    font-size: 22px;
    font-weight: 400;
    width: 80%;
}
.header-button{
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    border: none;
    background-color: #E55473;
    padding: 20px 40px;
}

/* Main Section */

/* Bonus Part */

.bonus-heading{
    text-align: center;
    margin-top: 80px;
}
.bonus-heading h2{
    color: black;
    font-size: 40px;
    font-weight: 800;
}
.bonus-heading p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 20px;
    font-weight: 400;
}

.bonus-content{
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: auto;
    gap: 40px;
    margin-top: 100px;
}
.bonus-item{
    text-align: center;
}
.bonus-image{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(5, 151, 160, 0.15);
}
.bonus-image img{
    margin: 110px 45px 51px 45px;
}

.bonus-image-1 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
}
.bonus-image-1 img{
    margin: 110px 45px 51px 45px;
}


.bonus-image-2{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(71, 125, 17, 0.15);
}
.bonus-image-2 img{
    margin: 65px 75px 0px 75px;
}
.bonus-content h4{
    text-decoration: underline;
}

/* Sales Part */

.sales-container{
    border-radius: 8px;
    background-color: rgba(229, 84, 115, 0.05);
    margin-top: 100px;
}

.sales-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 100px;
    padding-bottom: 50px;

}
.sales-items h3{
    color: black;
    font-size: 40px;
    font-weight: 800;
}
span{
    color: #E55473;;
}
.sales-items p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 22px;
    font-weight: 400;
}
.sales-container img{
    width: 300px;
}
.sales-description{
    text-align: center;
}

/* Most Selling Part */


.popular-heading{
    text-align: center;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-top: 150px;
}

.Popular{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./assets/gradient1.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    width: 80%;
    margin: auto;
}
.Popular-items{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 50px;
    gap: 80px;
}
.popular-description a{
    font-size: 20px;
    color: #272727;
    margin-right: 10px;
}

.Popular h3{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    text-decoration: underline;
}
.Popular p{
    color: #383636;
    font-size: 20px;
    font-weight: 400;
    margin-top: 40px;
}
.popular-image img{
    width: 300px;
    border-radius: 8px;
}

/* Instagram Part */

.instagram-description{
    text-align: center;
    margin-top: 100px;
}
.instagram-description h2{
    color: black;
    font-size: 40px;
    font-weight: 800;
}
.instagram-description p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 22px;
    font-weight: 400;
}

.instagram-items{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 100px;
}
.instagram-items img{
    width: 300px;
    border-radius: 5px;
}

/* Subscribe Part */

.subscribe{
    text-align: center;
    background-image: url("./assets/Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 75%;
    margin: auto;
    padding: 40px;
}
.subscribe h2{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.subscribe p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 22px;
    font-weight: 400;
}
.subscribe input{
    width: 700px;
    border: none;
    height: 62px;
    border-radius: 8px;
    color: rgba(39, 39, 39, 0.60);
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    margin-right: 10px;
}

/* Footer Section */

.footer{
    text-align: center;
    background-color: #1b1a1a;
    color: white;
    padding: 50px;
    margin-top: 100px;
}
.footer h1{
    font-size: 48px;
    font-weight: 800;
}
.footer p{
    font-size: 20px;
    font-weight: 400;
}